<label for="customerCheck">Personal number</label>
<input
	type="text"
	placeholder="123456-00000"
	name="customerCheck"
	value="<%= customer.personal_number ? customer.personal_number : searchOptions.customerCheck %>"
	autofocus
	required
	pattern="\d{<%= locals.minlength %>}"
	title="<%= locals.minlength == '11' ? 'You need to input all 11 digits to find a customer.' : `You need to insert ${locals.minlength} or more digits to search for customers.` %>"
/>
