<header>
	<nav>
		<div>
			<a href="/">
				<h1>ABC Bank</h1>
			</a>
			<h2>Customer Management</h2>
		</div>
		<ul>
			<li><a href="/customers">Check if customer exists</a></li>
			<li><a href="/customers/new">Add new customer</a></li>
			<li><a href="/customers/update">Update existing customer</a></li>
			<li><a href="/customers/delete">Delete customer</a></li>
		</ul>
	</nav>
</header>
