<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Bank | Customer Management</title>
</head>

<body>
    <header>
        <h1>ABC Bank</h1>
        <h2>Customer Management</h2>
        <nav>
            <ul>
                <li><a href="#">Add new customer</a></li>
                <li><a href="#">Update existing customer</a></li>
                <li><a href="#">Delete customer</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <br>
        <br>

        The end.
    </footer>
</body>

</html>