/* General */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

header,
main,
footer {
    padding: 2em;
}

#errorMessage {
    color: rgb(211, 0, 0);
    text-align: center;
}

img {
    margin-top: 3em;
    max-height: 50vh;
}

/* Header */
header {
    width: 100vw;
    background-color: gainsboro;
}

a {
    text-decoration: none;
}

nav h1,
nav h2,
ul {
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-self: flex-end;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 30vw;
    /* align-items: center; */
    align-items: auto;
}

main h2 {
    text-align: center;
}

/* Forms */
form {
    margin-bottom: 0;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="submit"] {
    margin-left: 2px;
}

.button-primary,
input[type="reset"] {
    border: 1px solid white;
}

input[type="reset"] {
    background-color: rgb(177, 50, 0);
    color: white;
}

.buttons-left {
    display: flex;
    justify-content: flex-end;
}