<label for="pno">Personal number</label>
<input type="text" name="pno" id="pno" value="<%= customer.personal_number %>" />

<label for="fName">First name</label>
<input type="text" name="fName" id="fName" value="<%= customer.first_name %>" />

<label for="lName">Last name</label>
<input type="text" name="lName" id="lName" value="<%= customer.last_name %>" />

<label for="city">City</label>
<input type="text" name="city" id="city" value="<%= customer.city %>" />