<h2>Find customer</h2>

<!-- Search for existing customer -->
<form action="/customers/find" method="GET">
	<label for="customerCheck">Personal number</label>
	<input
		type="number"
		step="any"
		placeholder="123456-00000"
		name="customerCheck"
		value="<%= searchOptions.customerCheck %>"
	/>
	<div class="buttons-left">
		<input class="button-primary" type="submit" value="Search" />
	</div>
</form>

<!-- Send info to new customer-creation -->
<% if (typeof errorMessage !== 'undefined') { %>
<form action="/customers/new" method="GET">
	<input
		type="hidden"
		name="pno"
		value="<%= searchOptions.customerCheck %>"
	/>
	<div class="buttons-left">
		<input type="submit" value="Create new customer" />
	</div>
</form>
<% } %>

<br />
<!-- TODO: Make this into a neat object that displays the customer details (for one customer, once the database is set up to enforce this) -->
<% if (customers) { customers.forEach(customer=> { %>

<div><%= customer %></div>

<% })} %>
