<h2>Find customer</h2>
<form action="/customers" method="GET">
	<label for="customerCheck">Check if customer exists</label>
	<input
		type="number"
		step="any"
		placeholder="Personal number"
		name="customerCheck"
		value="<%= searchOptions.customerCheck %>"
	/>
	<input type="submit" value="Search" />
</form>
<br />
<!-- TODO: Make this into a neat object that displays the customer details (for one customer, once the database is set up to enforce this) -->
<% customers.forEach(customer => { %>
<div><%= customer %></div>
<% console.log(customer, searchOptions)}) %>
