<h2>Create new customer</h2>
<form action="/customers" method="POST">
	<%- include('_form_fields') %>
	<!-- <label for="pno">Personal number</label>
    <input type="text" name="pno" id="pno">

    <label for="fName">First name</label>
    <input type="text" name="fName" id="fName">

    <label for="lName">Last name</label>
    <input type="text" name="lName" id="lName">

    <label for="city">City</label>
    <input type="text" name="city" id="city"> -->

	<input type="reset" value="Cancel" />
	<input type="submit" value="Create customer" />
</form>
