<h2>Create new customer</h2>
<form action="/customers/new" method="POST">
	<%- include('../partials/_form_fields') %>

	<br />
	<div class="buttons-left">
		<input type="reset" value="Reset form" />
		<input class="button-primary" type="submit" value="Create customer" />
	</div>
</form>
